version: "3.9"

services:
  web:
    build: .
    container_name: flask_app
    volumes:
      - ./app:/app
      - db_data:/app/data
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

volumes:
  db_data:
