name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker images
      run: docker-compose build

    - name: Run containers
      run: docker-compose up -d

    - name: Check running containers
      run: docker ps
